.ads_search {
  margin-left: 10px;
}

.sNumber {
  min-width: 170px;
}

.otherTab {
  width: 140px;
}

.custom-overflow {
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
