<div class="card">
    <div class="card-header" style="margin-top: 20px;">
        <div class="card-title">
            <span>{{ 'WORKSTATION' | translate}}</span>
        </div>
        <button type="button" class="btn btn-sm btn-light float-end" (click)="close(false)">
            <fa-icon [icon]="faTimes"></fa-icon>
        </button>
    </div>
    <div class="card-body p-9">
        <div class="row">
            <div class="col-md-6 pt-2">
                <label> {{ "NAME" | translate }}</label>
            </div>
            <div class="col-md-6 pt-2">
                <input class="form-control" placeholder="Name" [(ngModel)]="workstation.sName" />
            </div>
            <div class="col-md-6 pt-2">
                <label> {{ "DESCRIPTION" | translate }}</label>
            </div>
            <div class="col-md-6 pt-2">
                <input class="form-control" placeholder="Description" [(ngModel)]="workstation.sDescription" />
            </div>
            <div class="col-md-6 pt-2">
                <label> {{ "PRINT_NODE_COMPUTER" | translate }}</label>
            </div>
            <div class="col-md-6 pt-2 d-flex">
                <ng-select id="computer" name="computer" [clearable]="false"
                    [(ngModel)]="workstation.nPrintNodeComputerId" class="w-100">
                    <ng-option *ngFor="let computer of computers" [value]="computer.id"> {{computer.name}}
                    </ng-option>
                </ng-select>
                <button type="button" class="btn btn-sm btn-light float-end"
                    (click)="workstation.nPrintNodeComputerId = null">
                    <fa-icon [icon]="faTimes"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" type="submit" (click)="updateWorkstation()">{{ (workstation._id ? 'UPDATE' :
            'CREATE') | translate}}</button>
    </div>
</div>
