<div class="card shadow-sm">
    <div class="card-header" style="margin-top: 20px;">
        <h4>{{"ACTIVITIES" | translate}}</h4>
        <div>
            <button type="button" class="btn btn-sm btn-light" (click)="close({ action: false })">
                <fa-icon [icon]="faTimes"></fa-icon>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="text-center">
            <h2>
                <span *ngIf="activities?.length">{{'FOUND_AN_OPEN_ACTIVITIES_FOR' | translate }}</span> 
                {{customer?.sSalutation + '. ' + customer?.sFirstName +' '+ customer?.sPrefix + ' ' + customer?.sLastName}}
            </h2>
            <button class="btn btn-primary btn-lg" (click)="close({action:false})">{{'CREATE_NEW' | translate}}</button>
        </div>
        <div class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="table-responsive">
                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                    <thead>
                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                            <th class="min-w-100px sorting" tabindex="0"> {{"ACTIVITY_NUMBER" | translate}}</th>
                            <th class="min-w-100px sorting" tabindex="0"> {{"BAG_NUMBER" | translate}}</th>
                            <th class="min-w-100px sorting" tabindex="0"> {{"DATE" |translate}}</th>
                            <th class="min-w-100px sorting" tabindex="0">{{ "ACTION" | translate}}</th>
                        </tr>
                    </thead>
                    <tbody class="fw-bold text-gray-600">
                        <tr *ngFor='let transaction of activities| paginate: paginationConfig'>
                            <td class="">{{ transaction.sNumber }}</td>
                            <td class="">{{ transaction.sBagNumbers }}</td>
                            <td class="">{{ transaction.dCreatedDate | date: 'short'}}</td>
                            <td>
                                <button class="btn btn-primary" (click)="openTransaction(transaction, 'activity')">{{
                                    "OPEN" |
                                    translate}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex">
                <h5 *ngIf='!activities?.length && !showLoader'> {{"NO_DATA_FOUND" | translate}}!</h5>
                <div *ngIf="showLoader" class="spinner-border mx-auto"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-3 d-flex align-items-center justify-content-center justify-content-md-start">
                <div class="dataTables_length" id="kt_ecommerce_sales_table_length">
                    <label>
                        <select name="kt_ecommerce_sales_table_length" aria-controls="kt_ecommerce_sales_table"
                            class="form-select form-select-sm form-select-solid" [(ngModel)]="pageCount"
                            (change)="changeItemsPerPage(pageCount)">
                            <option *ngFor="let pageNum of pageCounts" [value]="pageNum">{{ pageNum }}</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 d-flex align-items-center justify-content-center justify-content-md-end">
                <pagination-controls [hidden]="activities.length === 0" (pageChange)="pageChanged($event)"
                    (pageBoundsCorrection)="pageChanged($event)" [maxSize]="setPaginateSize"
                    [previousLabel]="'PREVIOUS' | translate" [nextLabel]="'NEXT' | translate"
                    screenReaderPaginationLabel="Pagination" [screenReaderPageLabel]="'PAGE' | translate">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>