<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-flush">
                <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                    <div class="card-title">
                        <div class="d-flex align-items-center position-relative my-1">
                            <span class="svg-icon svg-icon-4 position-absolute ms-4">
                                <i class="fas fa-xs fa-search"></i>
                            </span>
                            <input type="text" class="form-control form-control-solid w-250px ps-14 me-4" #inputElement
                                (keyup.enter)="getCustomers()" [(ngModel)]="requestParams.searchValue" name="search"
                                placeholder="{{'SEARCH' | translate}}">
                            <button class="btn btn-primary" (click)="getCustomers()">{{'SEARCH' | translate}} </button>
                        </div>
                    </div>
                    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">

                        <button class="btn btn-primary" (click)="export()">{{'EXPORT' | translate}}</button>
                        <button class="btn btn-primary" (click)="createCustomer()">{{"NEW" | translate}}</button>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="table-responsive">
                            <table
                                class="table table-striped table-rounded table-hover fs-6 gy-5 gs-5 dataTable no-footer">
                                <thead>
                                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                        <th *ngFor="let column of allColumns" class="min-w-100px sorting" tabindex="0">
                                            {{column | translate}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="fw-bold text-gray-600">
                                    <tr *ngFor='let customer of customers | paginate: paginationConfig'
                                        class="bg-hover-secondary" (click)="openCustomer(customer)">
                                        <td *ngFor="let column of allColumns">{{customer[column]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex">
                            <h5 *ngIf='!customers.length && !showLoader'> {{ "NO_DATA_FOUND" | translate}} !</h5>
                            <div *ngIf="showLoader" class="spinner-border mx-auto"></div>
                        </div>
                    </div>
                    <div class="separator separator-dashed mt-9 mb-6"></div>
                    <div class="row">
                        <div
                            class="col-sm-12 col-md-3 d-flex align-items-center justify-content-center justify-content-md-start">
                            <div class="dataTables_length" id="kt_ecommerce_sales_table_length">
                                <label>
                                    <select name="kt_ecommerce_sales_table_length"
                                        aria-controls="kt_ecommerce_sales_table"
                                        class="form-select form-select-sm form-select-solid"
                                        [(ngModel)]="requestParams.limit"
                                        (change)="changeItemsPerPage(requestParams.limit)">
                                        <option *ngFor="let pageNum of pageCounts" [value]="pageNum">{{ pageNum }}
                                        </option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div
                            class="col-sm-12 col-md-9 d-flex align-items-center justify-content-center justify-content-md-end">
                            <pagination-controls [hidden]="customers.length === 0" (pageChange)="pageChanged($event)"
                                (pageBoundsCorrection)="pageChanged($event)" [maxSize]="setPaginateSize"
                                [previousLabel]="'PREVIOUS' | translate" [nextLabel]="'NEXT' | translate"
                                screenReaderPaginationLabel="Pagination" [screenReaderPageLabel]="'PAGE' | translate">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
