a {
  text-decoration: none;
}

.login-page {
  width: 100%;
  height: 100vh;
  display: inline-block;
  display: flex;
  align-items: center;
}

.form-right i {
  font-size: 100px;
}

.overlay-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #56acacc4;
  z-index: 9999;
}

::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow {
  display: none !important;
}

::ng-deep ng-select.verified_org span.ng-arrow-wrapper:before {
  content: "\f00c";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  color: #56acacc4;
  text-rendering: auto;
}
::ng-deep ng-select.not_verified_org span.ng-arrow-wrapper:before {
  content: "\f0d7";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  color: #222;
  text-rendering: auto;
}