<div class="overlay-full d-flex flex-column justify-content-center align-items-center" *ngIf="bIsLoading">
    <div>
        <div class="d-flex flex-column">
            <div class="spinner-border mx-auto"></div>
            <h1>{{ 'LOADING' | translate}}</h1>
        </div>
    </div>
</div>
<div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-1 mx-auto">
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-12 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <div class="mb-5 border-bottom">
                                    <img src="https://lirp.cdn-website.com/f2520664/dms3rep/multi/opt/cropped-retailgear-logo-web-260w.jpg"
                                    alt="Logo" srcset="">
                                </div>
                                <form (ngSubmit)="login(form)" #form="ngForm" class="row g-4">

                                    <!-- <div class="col-12">
                                        <label>{{'ORGANIZATION' | translate}}</label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                            <input type="text" class="form-control" disabled [value]="organizationDetails.sName"
                                                placeholder="{{'ORGANIZATION' | translate}}">
                                        </div>
                                    </div> -->

                                    <!-- <div class="fv-row mb-7 fv-plugins-icon-container">
                                        <label class="form-label fw-bolder text-dark fs-6">
                                            {{ 'CHOOSE_AN_EXISTING_ORGANIZATION' | translate }}
                                        </label>
                                        <select id="org-list" class="form-select" [(ngModel)]="user.iOrganizationid"
                                            name="iOrganizationid">
                                            <option value="" selected disabled>Select Organization</option>
                                            <option *ngFor="let oOrg of aOrganizationList" [value]="oOrg._id">
                                                {{oOrg.sName}}
                                            </option>
                                        </select>
                                    </div> -->

                                    <div class="col-12">
                                        <label class="form-label fs-6 fw-bolder text-dark">{{ "ORGANIZATION" }} (Press
                                            enter to add item)</label>
                                        <ng-select #organizationRef bindLabel="sName" bindValue="_id"
                                            name="iOrganizationid"
                                            [ngClass]="isOrgFetched ? 'verified_org' : 'not_verified_org'"
                                            class="form-control form-control-solid p-0 w-100"
                                            [(ngModel)]="user.iOrganizationid"
                                            placeholder="{{'Search any public organization or type in a name'}}"
                                            autofocus [addTag]="true" [selectOnTab]="false" [clearable]="true"
                                            (clear)="onClearOrg($event)"
                                            [clearOnBackspace]="true" (change)="onChangeOrg($event)">
                                            <ng-option *ngFor="let option of aOrganizationList" [value]="option">
                                                {{ option.sName || "Unknown" }}
                                            </ng-option>
                                        </ng-select>
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label fs-6 fw-bolder text-dark">{{"INPUT_EMAILADRESS" |
                                            translate}}</label>
                                        <input [(ngModel)]="user.email" #email="ngModel" name="email" id="input-email"
                                            pattern=".+@.+\..+" placeholder="{{'INPUT_EMAILADRESS' | translate}}"
                                            autofocus [required]="loginForm.validation.email.required"
                                            [attr.aria-invalid]="email.invalid && email.touched ? true : null"
                                            class="form-control form-control-lg form-control-solid w-100">

                                        <ng-container *ngIf="email.invalid && email.touched">
                                            <div class="fv-plugins-message-container invalid-feedback">
                                                <div data-field="email" data-validator="emailAddress"
                                                    *ngIf="email.errors?.required">
                                                    Email is required!</div>
                                                <div data-field="email" data-validator="emailAddress"
                                                    *ngIf="email.errors?.pattern">
                                                    Email should be the real one!</div>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex align-items-center justify-content-between flex-stack mb-2">
                                            <label class="form-label fw-bolder text-dark fs-6 mb-0">{{"PASSWORD" |
                                                translate}}</label>

                                            <span (click)="bIsShowPassword=!bIsShowPassword"> <i class="fa"
                                                    [ngClass]="bIsShowPassword ? 'fa-eye-slash' : 'fa-eye'"></i></span>
                                        </div>
                                        <input [(ngModel)]="user.password" #password="ngModel" name="password"
                                            [type]="bIsShowPassword ? 'text' : 'password'" id="input-password"
                                            placeholder="{{'PASSWORD' | translate}}"
                                            [required]="loginForm.validation.password.required"
                                            [minlength]="loginForm.validation.password.minLength"
                                            [maxlength]="loginForm.validation.password.maxLength"
                                            [attr.aria-invalid]="password.invalid && password.touched ? true : null"
                                            class="form-control form-control-lg form-control-solid w-100">

                                        <ng-container *ngIf="password.invalid && password.touched ">
                                            <p class="caption status-danger custom-margin-5 invalid-feedback"
                                                *ngIf="password.errors?.required">
                                                Password is required!
                                            </p>
                                            <p class="caption status-danger custom-margin-5 invalid-feedback"
                                                *ngIf="(password.errors?.minlength || password.errors?.maxlength)">
                                                Password should contains
                                                from {{ loginForm.validation.password.minLength }}
                                                to {{ loginForm.validation.password.maxLength }}
                                                characters
                                            </p>
                                        </ng-container>

                                        <div class="fv-plugins-message-container invalid-feedback">
                                        </div>
                                    </div>

                                    <div class="col-12 mb-2 fv-plugins-icon-container">
                                        <re-captcha (resolved)="resolved($event)" [siteKey]="sSitekey"></re-captcha>
                                    </div>

                                    <div class="col-12">
                                        <!-- <button type="submit" class="btn btn-success px-4 float-end">{{
                                                                                                                                                                                                                                                                        'LOGIN_TO_YOUR_ORGANIZATION' | translate }}</button> -->

                                        <button [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted"
                                            class="btn btn-lg btn-primary">
                                            <span *ngIf="submitted" class="mx-3">
                                                <i class="fa fa-spinner fa-spin" [hidden]="!submitted"
                                                    style="font-size:15px;"></i>
                                            </span>
                                            <!-- <label class="mx-auto">{{ "PRINT" | translate }}</label> -->
                                            <span class="indicator-label">{{"LOGIN_TO_YOUR_ORGANIZATION" |
                                                translate}}</span>
                                            <!-- <span class="indicator-progress">Please wait... 
                                                                                                                                                                                                                                                                                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span> -->
                                        </button>

                                    </div>
                                </form>
                                <!--begin::Alert-->
                                <div class="alert"
                                    *ngIf="(showMessages.error && errors?.length && !submitted) || (showMessages.success && messages?.length && !submitted)"
                                    [ngClass]="(showMessages.success && messages?.length && !submitted) ? 'alert-primary' : 'alert-danger'">
                                    <!--begin::Wrapper-->
                                    <div class="d-flex flex-column">
                                        <!--begin::Title-->
                                        <h4 class="mb-1 text-dark"
                                            *ngIf="(showMessages.success && messages?.length && !submitted)">
                                            Hooray!</h4>
                                        <h4 class="mb-1 text-dark"
                                            *ngIf="(showMessages.error && errors?.length && !submitted)">
                                            Oh snap!</h4>
                                        <!--end::Title-->
                                        <!--begin::Content-->
                                        <ul class="alert-message-list"
                                            *ngIf="(showMessages.error && errors?.length && !submitted)">
                                            <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
                                        </ul>
                                        <ul class="alert-message-list"
                                            *ngIf="(showMessages.error && messages?.length && !submitted)">
                                            <li *ngFor="let message of messages" class="alert-message">{{ message }}
                                            </li>
                                        </ul>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Wrapper-->
                                </div>
                                <!--end::Alert-->
                            </div>
                        </div>
                        <!-- <div class="col-md-5">
                            <div class="d-flex flex-column text-center align-items-center justify-content-center h-100">
                                <img src="https://lirp.cdn-website.com/f2520664/dms3rep/multi/opt/cropped-retailgear-logo-web-260w.jpg"
                                    alt="" srcset="">
                                <button class="btn btn-secondary fs-6 mt-4" routerLink="/home">
                                    {{'SKIP_LOGIN_AND_GO_TO_CASH_REGISTER' | translate}}
                                    <i class="fa fa-arrow-right fs-6 ms-2"></i>
                                </button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>