<div class="card shadow-sm">
    <div class="card-header">
        <h4>{{ 'ADD_EXPENSES' | translate}}</h4>
        <div>
            <a class="cancel my-auto" (click)="close(false)">
                <i class="fa fa-times fabutton"></i>
            </a>
        </div>
    </div>
    <div>
        <form [formGroup]="expenseForm" (ngSubmit)="submit(); submitted = true">
            <div class="card-body">

                <div class="row form_control">
                    <label>{{ "AMOUNT" | translate}}</label>
                    <input type="number" class="form-control" formControlName="nAmount">
                    <div *ngIf="submitted && f.nAmount.errors">
                        <span class="text-danger">{{"AMOUNT_SHOULD_BE_GREATER_THAN" | translate}} €1.</span>
                    </div>
                </div>

                <div class="row">
                    <label>{{ "TAX" | translate}}</label>
                    <ng-select class="" formControlName="nTax" [clearable]="false">
                        <ng-option *ngFor="let option of taxes" [value]="option.nRate">{{option.sName}} -
                            {{option.nRate}}%
                        </ng-option>
                    </ng-select>
                </div>

                <div class="row">
                    <label>{{ "LEDGER_NUMBER_DESCRIPTION" | translate}}</label>
                    <ng-select class="" formControlName="oExpenseType" [clearable]="false">
                        <ng-option *ngFor="let option of tillService.ledgerDescriptions"
                            [value]="option">{{option.title| titlecase}}
                        </ng-option>
                    </ng-select>
                </div>

                <div *ngIf="submitted && f.oExpenseType.errors">
                    <span class="text-danger">{{ "LEDGER_NUMBER_DESCRIPTION" | translate}} {{ "REQUIRED" |
                        translate}}.</span>
                </div>

                <div class="row form_control">
                    <label>{{ "DESCRIPTION" | translate}}</label>
                    <textarea class="form-control " placeholder="{{ 'DESCRIPTION' | translate}}" lines="10"
                        formControlName="sDescription"></textarea>
                    <div *ngIf="submitted && f.sDescription.errors">
                        <span class="text-danger">{{"DESCRIPTION_IS_REQUIRED"}}.</span>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit" [disabled]="!expenseForm.valid || bLoading">{{"SUBMIT" |
                    translate}}</button>
                <div *ngIf="bLoading" class="spinner-border mx-3"></div>
            </div>
        </form>
    </div>
</div>
