<div class="row step-container mb-6" *ngIf="customerDetailsForm">
    <p class="mb-4"> {{
        "FILL_IN_CUSTOMER_DETAILS_WITH_CORRESPONDING_COLUMNS_FROM_SELECTED_FIL_IF_FIELD_EMPTY_IT_IS_NOT_USED" |
        translate}}</p>

    <div class="d-flex mb-3">
        <button class="btn btn-dark" (click)="gotoStep('previous')">
            {{"BACK" | translate}}
        </button>
        <button class="btn btn-primary mx-2" (click)="gotoStep('import')" [disabled]="validateCustomerHeaderLink()">
            {{"NEXT_STEP" | translate}}
        </button>
        <button class="btn btn-secondary" (click)="getDynamicFields(true)">
            <fa-icon [icon]="faSync"></fa-icon> &nbsp;
            {{ "RELOAD_DEFAULT_ATTRIBUTES" | translate}}
        </button>
    </div>
    <div style="background-color:#FFF" class="mt-3">
        <h4 class="fw-bolder mb-3 mt-3 text-uppercase">{{ 'CUSTOMER_DETAILS' | translate}}</h4>
        <div class="row mb-3">
            <div class="col-md-2 no-padding-left">
                <h5 class="text-muted fw-bolder m-0">{{"FOUND_COLUMN(CSV_HEADERS)"}}</h5>
            </div>
            <div class="col-md-3 no-padding-left">
                <h5 class="text-muted fw-bolder m-0">{{ "ATTRIBUTE_TO_SET" | translate}}</h5>
            </div>
            <div class="col-md-7 no-padding-right">
                <h5 class="text-muted fw-bolder m-0">{{ "UPDATE_TEMPLATE" | translate}}</h5>
            </div>
        </div>
        <div class="row mb-4" *ngFor="let option of headerOptions">
            <div class="col-md-2 no-padding-left">
                {{option}}
            </div>
            <div class="col-md-3 no-padding-left">
                <ng-select class="form-control form-control-solid p-0" [clearable]="false" id="customer-attributes"
                    [(ngModel)]="customerDetailsForm[option]" (change)="onSetAttribute(option)">
                    <ng-option *ngFor="let option of allFields.all" [value]="option.sKey">{{ option.value | translate}}</ng-option>
                </ng-select>
            </div>
            <div class="col-md-5 no-padding-left flex">
                <ng-select class="form-control form-control-solid p-0" [clearable]="false" id="customer-update-template"
                    [(ngModel)]="updateTemplateForm[option]">
                    <ng-option *ngFor="let oActionHeader of aActionHeaders" [value]="oActionHeader.value">{{oActionHeader.key | translate}}</ng-option>
                </ng-select>
            </div>
        </div>
    </div>
</div>
