<div class="accordion-header">
  <button class="accordion-button fs-4 fw-bold p-3" type="button" data-bs-toggle="collapse"
    data-bs-target="#kt_accordion_1_body_1" aria-expanded="false" aria-controls="kt_accordion_1_body_1">
    <section class="row product-row align-items-center w-100">
      <div class="col-12">
        <div class="row fs-5">
          <div class="col-1">
            <svg width="15" height="15" class="m-1">
              <rect width="15" height="15" [ngStyle]="{fill: (item.oType.bRefund) ? '#f7422e' : (item.eTransactionItemType==='broken') ? '#f0e959' : '#4ab69c' }"
                style="stroke-width:1;stroke:rgb(0,0,0)" />
              {{ "YOUR_BROWSER_DOES_NOT_SUPPORT_INLINE_SVG" | translate }}
            </svg>
            {{item.quantity}}
          </div>
          <div class="col-4 fs-6">{{item.name}}</div>
          <div class="col">{{item.price | currencyFormat: tillService.currency:tillService.separator }}</div>
          <div class="col">
            <span *ngIf="item.bDiscountOnPercentage">{{item.nDiscount}}%</span>
            <span *ngIf="!item.bDiscountOnPercentage">{{item.nDiscount | currencyFormat: tillService.currency:tillService.separator}}</span>
          </div>
          <div class="col" *ngIf="item.bShowGiftcardDiscountField">{{item.nGiftcardDiscount | currencyFormat: tillService.currency:tillService.separator}}</div>
          <div class="col" *ngIf="item.bShowLoyaltyPointsDiscountField">{{item.nRedeemedLoyaltyPoints | currencyFormat: tillService.currency:tillService.separator}}</div>
          <div class="col">{{item.tax}}%</div>
          <div class="col">{{ item.amountToBePaid | currencyFormat: tillService.currency:tillService.separator }}
          </div>
          <div class="col">{{item.paymentAmount | currencyFormat: tillService.currency:tillService.separator }}</div>
        </div>
      </div>
    </section>
  </button>
</div>
<div id="kt_accordion_1_body_1" class="accordion-collapse collapse rounded-0" [ngClass]="{'show' : tillService.settings?.bShowForm}"   data-bs-parent="#till-items-accordion">
  <div class="accordion-body px-3 py-4">
    
    <div class="row">
      <div class="col-3">
        <app-dialer [(quantity)]="item.quantity"  [item]="item"  [bSerialSearchMode]="bSerialSearchMode" (quantityChange)="quantityChangeHandler($event)"></app-dialer>
        <div class="form-group mb-4">
          <select class="form-control py-2" [(ngModel)]="item.oType.bRefund" (ngModelChange)="changeTypeArray()">
            <option *ngFor="let type of typeArray" [ngValue]="type.value">{{type.title | translate}}</option>
          </select>
        </div>
        <div *ngIf="item.eTransactionItemType === 'return'">
          <div class="form-group mb-4">
            <label class="form-control-label mb-3">{{ "BROKEN" | translate}}</label>:
            <input class="form-control  mb-3 mb-lg-0" type="text" name="activityName" [(ngModel)]="item.nBrokenProduct"
              class="form-control" (change)="changeInbrokenAmount(item)">
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="form-group mb-4">
          <label class="form-control-label mb-3">{{ "NAME" | translate}}</label>:
          <input class="form-control  mb-3 mb-lg-0" type="text" name="name" [(ngModel)]="item.name" (keypress)="notAllowedCommaAndSemiColon($event)">
        </div>
      </div>

      <div class="col-4">
        <div class="row">
          <div class="col-9">
            <div class="form-group mb-4">
              <label class="form-control-label mb-3">{{ "PRICE" | translate}}</label>:
              <input class="form-control  mb-3 mb-lg-0" type="text" (keypress)="numericOnly($event)"
                (ngModelChange)="updatePayments($event)" placeholder="{{ 'PRICE' | translate}}" [(ngModel)]="item.price">
            </div>
          </div>
          <div class="col-3">
            <div class="form-group mb-4">
              <button class="btn btn-icon btn-secondary mb-2 mt-9" (click)="openDiscountDialog()"
                [disabled]="item.oType?.bRefund || (item.tType === 'pay' && !item?.new)">
                <span class="svg-icon svg-icon-1qx me-0">
                  <i class="fas fa-percent"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12" *ngIf="tillService.oSavingPointSettings.bEnabled">
        <span *ngIf="tillService.oSavingPointSettings.aExcludedArticleGroups.includes(item.iArticleGroupId)">
          <strong>{{ 'THIS_ARTICLE_GROUP_HAS_BEEN_EXCLUDED_FROM_EARNING_LOYALTY_POINTS'| translate }}</strong>
        </span>
        <span *ngIf="!tillService.oSavingPointSettings.aExcludedArticleGroups.includes(item.iArticleGroupId)">
          {{ 'GET'| translate }}
          <strong>{{ item.nSavingsPoints || 0 }} </strong>
          {{ 'LOYALTY_POINTS' | translate }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group mb-4">
          <label class="form-control-label mb-3">{{ "ARTICLE_NUMBER" | translate}}</label>:
          <span class="fs-7 w-100 d-block text-gray-600 mb-1">{{item.sArticleNumber}}</span>
        </div>
      </div>

      <div class="col-4">
        <label class="form-control-label mb-3">{{ "LOCATION" | translate}}</label>:
        <ng-select [(ngModel)]="iSelectedLocationId" (change)="updatePayments()" class="form-control form-control-solid p-0"
          [clearable]="false" [disabled]="item.price != item.amountToBePaid && !item.oType.bRefund">
          <ng-option *ngFor="let oLocation of item.aLocation" [value]="oLocation._id">
            <span [class]=" !oLocation?.nStock && !item.bQuickButton? 'text-danger': 'text-default'">{{oLocation.sName |
              translate }} - ( {{ oLocation?.nStock}} )</span>
          </ng-option>
        </ng-select>
    
        <div *ngFor="let oLocation of item.aLocation">
          <p *ngIf="oLocation._id === iSelectedLocationId && oLocation?.nStock == 0 && !item.bQuickButton"
            class="text-break text-danger m-0 mt-3">{{"WARNING_STOCK_QUANTITY_IS_0"| translate}}</p>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group mb-4">
          <label class="form-control-label mb-3">{{ "TAX" | translate}}</label>:
          <ng-select name="taxRate" id="taxRate" class="form-control  mb-3 mb-lg-0" [(ngModel)]="item.tax">
            <ng-option *ngFor="let rate of taxes" [value]="rate.nRate">{{rate.sName}}</ng-option>
          </ng-select>
        </div>
      </div>

      <div class="col-2 d-flex align-items-end">
        <button class="btn btn-secondary btn-sm w-100 mb-4" type="button" (click)="collapsedBtn = !collapsedBtn">
          {{ "MORE" | translate}}
          <fa-icon *ngIf="!collapsedBtn" [icon]="faArrowDown"></fa-icon>
          <fa-icon *ngIf="collapsedBtn" [icon]="faArrowUp"></fa-icon>
        </button>
      </div>

    </div>

    <div class="row">

      <div class="col-8">
        <div class="form-group">
          <label class="form-control-label mb-3">{{ "DESCRIPTION" | translate}}</label>:
          <textarea class="form-control  mb-3 mb-lg-0" type="text" name="description" rows="3"
            [(ngModel)]="item.description" (keypress)="notAllowedCommaAndSemiColon($event)"></textarea>
        </div>
      </div>

      <div class="col-4 mb-7">
        <div *ngIf="collapsedBtn">
          <div class="row">
            <div class="form-group">
              <label class="form-control-label">
                <span *ngIf="item.oType.bPrepayment">{{ "PREPAYMENT" | translate}}</span>
                <span *ngIf="!item.oType.bPrepayment">{{ "FULL_PAYMENT" | translate}}</span>
              </label>:
              <!-- <span style="color:red;font-weight:bolder">Don't touch this field untill you filled in the payments on the right side</span> -->
              <span style="color:red;font-weight:bolder">{{ "FIRST_FILL_AMOUNT_AT_RIGHT_SIDE" | translate}}</span>
              <input class="form-control mt-3 mb-lg-0" type="number" [disabled]="item.isExclude || disablePrepayment"
                [(ngModel)]="item.paymentAmount" (ngModelChange)="changePrePayment(item)">
            </div>
          </div>
          <div class="row" *ngIf="item.nDiscount > 0">
            <div class="form-group mb-4">
              <label class="form-control-label mb-3">{{ "DISCOUNT" | translate}} <span *ngIf="item.bDiscountOnPercentage">
                  {{"IN" | translate}} % </span></label>:
              <input class="form-control mb-lg-0" type="number" name="discount" placeholder="{{ 'DISCOUNT' | translate}}"
                [value]="item.nDiscount - (item.nRedeemedLoyaltyPoints || 0)" disabled>
            </div>
          </div>
          <div class="row" *ngIf="item.oType.bRefund">
            <div class="form-group mb-4">
              <label class="form-control-label mb-3">{{ "LOYALTY_POINTS" | translate}}</label>:
              <span class="fs-7 w-100 d-block text-gray-600 mb-1">{{item.nRedeemedLoyaltyPoints}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
