<div class="container">
    <div class="card card-flush">
        <div class="card-header align-items-center">
            <div class="card-body">
                <div class="row" *ngIf="bIsDayStateOpenLoading">
                    <div class="spinner-border mx-auto">
                    </div>
                </div>
                <div class="row" *ngIf="!bIsDayStateOpenLoading">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" routerLink="./list">
                            <span class="indicator-label">{{ "DAY_CLOSURE_LIST" | translate}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-flush">
        <div class="card-header align-items-center">
            <div class="card-body">
                <div class="row">
                    <strong> {{ "NO_OPEN_DAY_STATE_FOUND" | translate}}</strong>
                </div>
            </div>
        </div>
    </div>
</div>
