a.cancel {
    cursor: pointer;
    color: #a63b55;
}

.fabutton {
    font-size: 30px;
}

.modal-card {
    width: 900px !important;
    max-height: calc(120vh - 210px);
    overflow-y: auto;
}

.head {
    margin-top: 30px;
}
