<div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title">{{ header | translate}}</h3>
        <div class="card-toolbar">
          <a class="cancel my-auto" (click)="confirmed(false)">
              <i class="fa fa-times fabutton"></i>
          </a>
        </div>
    </div>
    <div class="card-body card-scroll">
      <p>
        {{ bodyText | translate}}
      </p>
    </div>
    <div class="card-footer py-3">
      <div class="d-flex align-items-center justify-content-end">
        <button class="btn" [ngClass]="btn.class" (click)="confirmed(btn.value)" *ngFor="let btn of buttonDetails">{{ btn.text | translate}}</button>
      </div>
    </div>
</div>
