.custom-card:hover {
    border: solid 1px green;
}

.prod-name {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-transform: uppercase;
}

.image-container {
    width: 110px;
    height: 85px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
