<div class="card shadow-sm">
    <div class="card-header d-flex align-items-center justify-content-between py-3">
        <h4>{{ 'ALL_PAYMENT_METHODS' | translate}}</h4>
        <div>
            <a class="cancel my-auto" (click)="close(false)">
                <i class="fa fa-times fabutton"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="bg-white py-3">
            <ul id="quick-buttons" class="nav nav-pills nav-pills-custom mb-3">
                <li class="nav-item mb-3 me-3" *ngFor="let method of allPaymentMethods">
                    <button
                        class="nav-link d-flex justify-content-center flex-column flex-center overflow-hidden active w-85px h-85px py-4"
                        (click)="close(method)">
                        <h4 class="nav-text text-gray-800 fw-bold fs-6 lh-1 text-center mb-0">{{method.sName |
                            translate}}</h4>
                        <!-- <span class="text-gray-600">{{button.price | currency: '€'}}</span> -->
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <!-- <div class="card-footer">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div> -->
</div>
