<div class="overlay-full d-flex flex-column justify-content-center align-items-center" *ngIf="!bIsDayStateOpened">
  <div *ngIf="bDayStateChecking">
    <div class="d-flex flex-column">
      <h1>{{ 'PLEASE_WAIT_WHILE_CHECKING_FOR_DAY_STATE' | translate}}</h1>
      <div class="spinner-border mx-auto"></div>
    </div>
  </div>

  <div *ngIf="!bDayStateChecking && !bIsDayStateOpened" class="d-flex flex-column align-items-center">
    <h1>{{ 'NO_OPEN_DAY_STATE_FOUND' | translate}}</h1>
    <button class="btn btn-white" (click)="openDayState()" [disabled]="bIsOpeningDayState">{{ 'OPEN_CASH_REGISTRY' |
      translate}}</button>
    <div>
      <button class="btn btn-dark mt-5" routerLink="../">{{ 'GO_TO_DASHBOARD' | translate}}</button>
    </div>
  </div>

</div>
<div class="container">
  <div class="content">
    
    <div class="row " [ngClass]="{'opacity-25': parkedTransactionLoading}">
      <div class="col-12">
        <div class="row">
          <div class="col-8">
            <div class="alert alert-warning" *ngIf="!bIsPreviousDayStateClosed">
              <p class="mb-0" style="font-size: 1.2rem;font-weight: bold;margin-left:1.3rem">
                <span style="margin-right:1rem; font-weight:bolder">!</span>
                {{ "THE_PREVIOUS" | translate }} {{ settings.sDayClosurePeriod }} {{"IS_NOT_CLOSED_YET" | translate }}
                ({{ dOpenDate | date:'EEEE, dd-MM-YYYYhh:mm:ss aaa':'GMT'}})
              </p>
              <a class="btn btn-hover" routerLink="../day-closure">{{ "CLOSE_DAYSTATE" | translate}}</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-end">

          <div class="d-flex justify-content-start">

            <button class="btn d-flex btn-white  rounded p-4 mb-3 me-3 text-hover-primary min-w-90px"
              [ngClass]="{'btn-color-primary': eKind === 'regular' }" (click)="onSelectRegular()"
              [disabled]="isGoldForPayments">
              <div class="d-flex flex-column justify-center align-items-center flex-grow-1">
                <div class="symbol symbol-40px mb-2">
                  <span class="symbol-label">
                    <span class="svg-icon svg-icon-1qx me-0">
                      <fa-icon [icon]="faBoxesStacked"></fa-icon>
                    </span>
                  </span>
                </div>
                <div class="fs-6">
                  <span [ngClass]="eKind === 'regular'?'text-primary': 'text-gray-800'" class=" fw-bold">{{"STOCK" |
                    translate}}</span>
                </div>
              </div>
            </button>

            <button class="btn d-flex btn-white  rounded p-4 mb-3 me-3 text-hover-primary min-w-90px"
              [ngClass]="{'btn-color-primary': eKind === 'order' }" (click)="onSelectOrder()">
              <div class="d-flex flex-column justify-center align-items-center flex-grow-1">
                <div class="symbol symbol-40px mb-2">
                  <span class="symbol-label">
                    <span class="svg-icon svg-icon-1qx me-0">
                      <fa-icon [icon]="faTruck"></fa-icon>
                    </span>
                  </span>
                </div>
                <div class="fs-6">
                  <span [ngClass]="eKind === 'order'?'text-primary': 'text-gray-800'" class="fw-bold">{{"ORDER" |
                    translate}}</span>
                </div>
              </div>
            </button>

            <button class="btn d-flex btn-white  rounded p-4 mb-3 me-3 text-hover-primary min-w-90px"
              [ngClass]="{'btn-color-primary': eKind === 'repair' }" (click)="eKind = 'repair'; addItem('repair')">
              <div class="d-flex flex-column justify-center align-items-center flex-grow-1">
                <div class="symbol symbol-40px mb-2">
                  <span class="symbol-label">
                    <span class="svg-icon svg-icon-1qx me-0">
                      <fa-icon [icon]="faScrewdriverWrench"></fa-icon>
                    </span>
                  </span>
                </div>
                <div class="fs-6">
                  <span [ngClass]="eKind === 'repair'?'text-primary': 'text-gray-800'" class="fw-bold">{{"REPAIR" |
                    translate}}</span>
                </div>
              </div>
            </button>

            <button class="btn d-flex btn-white  rounded p-4 mb-3 me-3 text-hover-primary min-w-90px"
              [ngClass]="{'btn-color-primary': eKind === 'giftcard' }"
              (click)="eKind = 'giftcard'; addItem('giftcard')">
              <div class="d-flex flex-column justify-center align-items-center flex-grow-1">
                <div class="symbol symbol-40px mb-2">
                  <span class="symbol-label">
                    <span class="svg-icon svg-icon-1qx me-0">
                      <fa-icon [icon]="faGifts"></fa-icon>
                    </span>
                  </span>
                </div>
                <div class="fs-6">
                  <span [ngClass]="eKind === 'giftcard'?'text-primary': 'text-gray-800'" class="fw-bold">{{"GIFTCARD" |
                    translate}}</span>
                </div>
              </div>
            </button>

            <button class="btn d-flex btn-white  rounded p-4 mb-3 me-3 text-hover-primary min-w-90px"
              (click)="eKind = 'gold-purchase'; addItem('gold-purchase')">
              <div class="d-flex flex-column justify-center align-items-center flex-grow-1">
                <div class="symbol symbol-40px mb-2">
                  <span class="symbol-label">
                    <span class="svg-icon svg-icon-1qx me-0">
                      <fa-icon [icon]="faRing"></fa-icon>
                    </span>
                  </span>
                </div>
                <div class="fs-6">
                  <span [ngClass]="eKind === 'gold-purchase'?'text-primary': 'text-gray-800'"
                    class="fw-bold">{{"GOLD_PURCHASE" |
                    translate}}</span>
                </div>
              </div>
            </button>

            <button class="btn d-flex btn-white rounded p-4 mb-3 me-3 text-hover-primary min-w-90px"
              (click)="openExpenses()">
              <div class="d-flex flex-column justify-center align-items-center flex-grow-1">
                <div class="symbol symbol-40px mb-2">
                  <span class="symbol-label">
                    <span class="svg-icon svg-icon-1qx me-0">
                      <fa-icon [icon]="faMoneyBill"></fa-icon>
                    </span>
                  </span>
                </div>
                <div class="fs-6">
                  <span class="fw-bold text-gray-800">{{"ADD_EXPENSES" | translate}}</span>
                </div>
              </div>
            </button>
          </div>

          <div *ngIf="sNumber && sNumber != ''" class="d-flex justify-content-between align-items-center">
            <p class="fw-bolder text-gray-600 m-0">You are modifying an existing item with: {{sNumber}}</p>
            <button class="btn btn-secondary btn-sm ms-2" (click)="clearAll()">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 col-xs-12 column-auto till-body ps-0 pe-0">
        <div class="card card-flush mb-4">
          <div id="till-items-header" class="card-header p-3 lh-1 justify-content-start min-h-0">
            <div class="row w-100 fw-bolder text-gray-600 align-items-center">
              <span class="col-1">{{ "QUANTITY" | translate}}</span>
              <span class="col-4">{{ "DESCRIPTION" | translate}}</span>
              <span class="col">{{ "PRICE" | translate}}</span>
              <span class="col">{{ "DISCOUNT" | translate}}</span>
              <span class="col">{{ "TAX" | translate}}</span>
              <span class="col">{{ "TOTAL" | translate}}</span>
              <span class="col">{{ "PREPAYMENT" | translate}}</span>
              <span class="col"></span>
            </div>
          </div>
          <div class="card-body p-0">
            <div class="accordion" id="till-items-accordion" [itemLength]="transactionItems.length">
              <ng-container *ngFor="let item of transactionItems; let i = index">
                <div style="display:inline-table;">
                  <!-- regular -->
                  <div class="accordion-item w-100 d-table-cell" till-product
                    *ngIf="item.type === 'regular' || item.type === 'reservation'" [item]="item" [taxes]="taxes"
                    (itemChanged)="itemChanged($event, i)"></div>
                  <!-- order -->
                  <div class="accordion-item w-100 d-table-cell" till-order *ngIf="item.type === 'order'" [item]="item"
                    [taxes]="taxes" (itemChanged)="itemChanged($event, i)"></div>
                  <!-- repair -->
                  <div class="accordion-item w-100 d-table-cell" till-repair *ngIf="item.type === 'repair'"
                    [item]="item" [taxes]="taxes" (itemChanged)="itemChanged($event, i)"></div>
                  <!-- giftcard -->
                  <div class="accordion-item w-100 d-table-cell w-100" till-gift *ngIf="item.type === 'giftcard'"
                    [item]="item" [transactionItems]="transactionItems" [taxes]="taxes"
                    (itemChanged)="itemChanged($event, i)" (createGiftCard)="createGiftCard($event, i)">
                  </div>
                  <!-- gold-purchase -->
                  <div class="accordion-item w-100 d-table-cell w-100" till-goldpurchase
                    *ngIf="item.type === 'gold-purchase'" [item]="item" (itemChanged)="itemChanged($event, i)"></div>
                  <!-- empty-line -->
                  <div class="accordion-item w-100 d-table-cell w-100" till-other *ngIf="item.type=== 'empty-line'"
                    [item]="item" [taxes]="taxes" (itemChanged)="itemChanged($event, i)"></div>
                  <!-- loyalty-points -->
                  <div class="accordion-item w-100 d-table-cell w-100" till-loyalty-points-discount
                    *ngIf="item.type=== 'loyalty-points'" [item]="item" [taxes]="taxes"
                    (itemChanged)="itemChanged($event, i)"></div>

                  <div class="d-table-cell">
                    <button class="btn btn-sm  btn-icon  btn-active-color-danger mx-6 ms-4"
                      (click)="itemChanged('delete', i)">
                      <span class="svg-icon svg-icon-3qx me-0">
                        <fa-icon [icon]="faTimes"></fa-icon>
                      </span>
                    </button>
                  </div>
                </div>
              </ng-container>
              <section class="row product-row p-3 text-gray-600 align-items-center" *ngIf="getTotals('quantity') !== 0">
                <div class="col-1">{{getTotals('quantity')}}</div>
                <div class="col-4">&nbsp;</div>
                <div class="col">{{getTotals('price') | currency: tillService.currency}}</div>
                <div class="col">{{getTotals('discount') | currency: tillService.currency}}</div>
                <div class="col"></div>
              </section>
            </div>
          </div>
        </div>

        <div class="card card-flush">
          <div class="card-body p-3">
            <div class="mb-5">
              <div class="d-flex">
                <input type="text" *ngIf="eKind == 'order'" class="form-control me-3 highlight-search" placeholder="{{'SEARCH_ORDER' | translate}} ..."
                  [(ngModel)]="searchKeyword"
                  (ngModelChange)="searchKeyword? shopProducts = shopProducts: shopProducts = []"
                  (keyup.enter)="search()" (focus)="switchMode()" #searchField>
                  <input type="text" *ngIf="eKind != 'order'" class="form-control me-3 highlight-search" placeholder="{{'SEARCH' | translate}} ..."
                  [(ngModel)]="searchKeyword"
                  (ngModelChange)="searchKeyword? shopProducts = shopProducts: shopProducts = []"
                  (keyup.enter)="search()" (focus)="switchMode()" #searchField>
                <button class="btn btn-secondary me-3 d-flex search-button" (click)="openTransactionSearchDialog()">
                  <fa-icon [icon]="faSearch"></fa-icon> {{ "TRANSACTION" | translate}}
                </button>
                <button class="btn btn-secondary me-3 search-button" (click)="addNewLine()">{{ "TEXT_LINE" |
                  translate}}</button>
                <button class="btn btn-secondary me-3 search-button" (click)="addNewLine()">{{ "EMPTY_LINE" |
                  translate}}</button>
                <button class="btn btn-icon btn-secondary w-85px" (click)="cancelItems()"
                  [disabled]="transactionItems.length === 0">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
              <div class="d-flex create-order p-5" *ngIf="searchKeyword && eKind === 'order'">
                <fa-icon [icon]="faTimes" class="topright cursor-pointer" (click)="searchKeyword = ''"></fa-icon>
                <div>
                  <span class="text-danger"> {{"USE_ENTER_KEY_TO_SEARCH" | translate }} </span>
                  <div class="cursor-pointer mt-2" (click)="addOrder({ name: searchKeyword })">
                    <h4>{{searchKeyword}}</h4>
                    <span>
                      {{ "USE_THIS_INPUT" |translate}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row bg-light py-5" *ngIf="shopProducts && shopProducts.length > 0">
              <div class="col-md-6 cursor-pointer py-5 px-2" *ngFor="let product of shopProducts"
                (mouseenter)="product['showOption'] = true" (mouseleave)="product['showOption'] = false">
                <a (click)="onSelectProduct(product, 'business', 'shopProducts')">
                  <div class="card m-1 shadow-sm h-100">
                    <div class="card-body">
                      <div class="d-flex">
                        <div class="p-2">
                          <img
                            src="{{product.aImage[0]? product.aImage[0]: '../assets/images/no-photo-available.jpg' }}"
                            class="w-50">
                        </div>
                        <div class="px-2">
                          <label class="business-bg-color rounded-full px-2 py-1 text-white text-sm">{{
                            "BUSINESS_PRODUCT"| translate}}</label>
                          <span>
                            <fa-icon [icon]="faCopy" aria-label="copy-article-number" class="ml-4"></fa-icon>
                          </span>
                          <p class="block mt-2">{{ product.oName? product.oName['en'] : 'No name' }}</p>
                          <p class="mt-2">{{ product.sEan }}</p>
                          <p class="mt-2">{{ product.sProductNumber }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <hr *ngIf="commonProducts && commonProducts.length > 0">
            <div class="row" *ngIf="commonProducts && commonProducts.length > 0">
              <div class="col-md-6 cursor-pointer" *ngFor="let product of commonProducts"
                (mouseenter)="product['showOption'] = true" (mouseleave)="product['showOption'] = false">
                <a (click)="onSelectProduct(product, 'business', 'commonProducts')">
                  <div class="card m-1 shadow-sm">
                    <div class="card-body">
                      <div class="d-flex">
                        <div class="p-2">
                          <img
                            src="{{product.aImage[0]? product.aImage[0]: '../assets/images/no-photo-available.jpg' }}"
                            class="w-50">
                        </div>
                        <div class="w-50 px-2">
                          <label
                            class="business-bg-color rounded-full px-2 py-1 text-white text-sm">{{"BUSINESS_PRODUCT" |
                            translate}}</label>
                          <span>
                            <fa-icon [icon]="faCopy" aria-label="copy-article-number" class="ml-4"></fa-icon>
                          </span>
                          <p class="block mt-2">{{ product.oName? product.oName['en'] : 'No name' }}</p>
                          <p class="mt-2">{{ product.sEan }}</p>
                          <p class="mt-2">{{ product.sProductNumber }}</p>
                        </div>
                      </div>
                      <div class="absolute hover-product-option mt-n6" *ngIf="product['showOption']">
                        <div class="d-flex">
                          <button class="btn btn-secondary w-50 mr-2 p-0">{{ "ADD_THIS_ARTICLE" | translate}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <ng-container *ngIf="bSearchingProduct">
              <div class="d-flex mt-2">
                <div class="spinner-border mx-auto"></div>
              </div>
            </ng-container>

            <div class="py-3">
              <ul *ngIf="quickButtons.length" id="quick-buttons" class="nav nav-pills nav-pills-custom mb-3">
                <li class="nav-item mb-3 me-3" *ngFor="let button of quickButtons">
                  <div>
                    <button
                      class="nav-link d-flex justify-content-center flex-column flex-center overflow-hidden w-85px h-85px py-4 position-relative"
                      (click)="onSelectProduct(button, 'quick-button', '', button)">
                      <h4 class="nav-text text-gray-800 fw-bold fs-6 lh-1 text-center mb-2">{{button.sName}}</h4>
                      <span class="text-gray-600">{{button.nPrice | currency: tillService.currency}}</span>
                      <div *ngIf="button.loading" class="spinner-border mx-auto" style="position: absolute;left: 0;right: 0;"></div>
                    </button>
                  </div>
                </li>
              </ul>
              <div>
                <div class="d-flex">
                  <div class="text-center" *ngIf="!quickButtons.length && !bSearchingProduct">
                    <button [routerLink]="['/business/settings/cash-register']" class="btn">
                      {{ "CLICK_HERE_TO_ADD_NEW_FAVOURITE" | translate}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <button *ngIf="!customer" class="btn d-flex btn-white rounded p-5 mb-3 text-hover-primary w-100"
          (click)="openCustomerDialog()">
          <div class="d-flex justify-center align-items-center flex-grow-1">
            <div class="symbol symbol-40px me-2">
              <span class="symbol-label">
                <span class="svg-icon svg-icon-2qx me-0">
                  <i class="fa fa-user-plus"></i>
                </span>
              </span>
            </div>
            <div class="fs-5 ms-4">
              <span class="text-gray-800 fw-bold">{{"CUSTOMER" | translate}}</span>
            </div>
          </div>
        </button>

        <div *ngIf="customer" class="d-flex flex-column bg-white rounded p-5 mb-3 w-100">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-center align-items-center flex-grow-1">
              <div class="symbol symbol-40px me-2">
                <span class="symbol-label">
                  <span class="svg-icon svg-icon-1qx me-0">
                    <i class="fa fa-user"></i>
                  </span>
                </span>
              </div>
              <div class="fs-5 ms-4">
                <span class="text-gray-800 fw-bold">{{"CUSTOMER" | translate}}</span>
              </div>
            </div>
            <button class="btn btn-icon btn-secondary w-35px h-35px" (click)="customer = null">
              <span class="svg-icon svg-icon-1qx me-0">
                <i class="fa fa-times"></i>
              </span>
            </button>
          </div>
          <div>
            <p class="mt-5 mb-0 text-gray-800">
              <span *ngIf="customer.number">{{customer.number}} <br> </span>
              <span *ngIf="customer.NAME">{{customer.NAME}} <br> </span>
              <span *ngIf="customer.oShippingAddress?.street || customer.oShippingAddress?.number">
                {{customer.oShippingAddress?.street}} {{customer.oShippingAddress?.number}}
                <br>
              </span>
              <span *ngIf="customer.oShippingAddress?.zip || customer.oShippingAddress?.city">
                {{customer.oShippingAddress?.zip}} {{customer.oShippingAddress?.city}}<br>
              </span>
              <span *ngIf="customer.sEmail"> {{customer.sEmail}} </span>
            </p>
          </div>
        </div>

        <div class="form-floating input-group mb-5 py-0 ">
          <select class="form-select" [(ngModel)]="selectedTransaction" (ngModelChange)="fetchParkedTransactionInfo()">
            <option [ngValue]="null" disabled selected>
              {{"PARKED_TRANSACTIONS" | translate}}
            </option>
            <option *ngFor="let transaction of parkedTransactions" [ngValue]="transaction">{{transaction.sNumber}}
              ({{transaction.dUpdatedDate | date: 'short'}})
            </option>
          </select>
          <ng-container>
            <button class="btn btn-secondary" (click)="selectedTransaction ? updateParkedTransaction(): park()">{{
              selectedTransaction ? "SAVE" : "PARK" |
              translate}}</button>
            <button class="btn btn-secondary" (click)="selectedTransaction = null" *ngIf="selectedTransaction">
              <fa-icon [icon]="faTimesCircle"></fa-icon>
            </button>
            <button class="btn btn-secondary" *ngIf="selectedTransaction" (click)="deleteParkedTransaction()">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
          </ng-container>
        </div>
        <!-- Payment Buttons  -->
        <ng-container *ngFor="let payment of payMethods; let i = index">
          <div class="input-group" [ngClass]="{'mb-3':i===0,'my-3':i>0}">
            <input type="number" class="form-control col-5" [(ngModel)]="payment.amount"
              placeholder="{{'AMOUNT' | translate}}" (ngModelChange)="changeInPayment()">
            <button class="btn btn-primary col-7" [disabled]="payment.isDisabled" (click)="assignAllAmount(i)">{{
              payment.sName | uppercase | translate}}</button>
          </div>
        </ng-container>
        <div class="input-group till-padding mt-2">
          <button class="btn btn-primary w-100" (click)="openMorePaymentMethodModal()">{{"MORE" |
            translate}}...</button>
        </div>
        <div class="input-group till-padding mt-2">
          <button class="btn btn-primary w-100" (click)="openCardsModal()">{{"REDEEM_GIFTCARD" | translate}}</button>
        </div>
        <div class="mt-2" *ngIf="appliedGiftCards.length || redeemedLoyaltyPoints > 0">
          <div class="chip d-flex" *ngFor="let giftcard of appliedGiftCards; index as i">
            {{giftcard.sGiftCardNumber}}, {{giftcard.nAmount | currency: tillService.currency}}
            <div *ngIf="giftcard.profileIconUrl">
              <img class="ml-1" src="{{giftcard.profileIconUrl}}" alt="" height="20px" width="20px">
            </div>
            <div (click)="removeGift(i)">
              &nbsp;<i class="close fas fa-times cursor-pointer"></i>
            </div>
          </div>
          <div class="chip d-flex">
            {{ "LOYALTY_POINTS" | translate }}, {{redeemedLoyaltyPoints | currency: tillService.currency}}
            <img class="ml-1" src="../assets/images/loyalty_points.png" alt="" height="20px" width="20px">
            <div (click)="redeemedLoyaltyPoints = 0">
              &nbsp;<i class="close fas fa-times cursor-pointer"></i>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <h5 *ngIf='!payMethods.length && !payMethodsLoading'> {{"NO_PAYMENT_METHOD_FOUND"}}</h5>
          <div *ngIf="payMethodsLoading" class="spinner-border mx-auto"></div>
        </div>

        <h1 *ngIf="(getUsedPayMethods(true) - getTotals('price')) <0">{{ "YET_TO_PAY" | translate}}:
          {{getUsedPayMethods(true) - getTotals('price') | currency: tillService.currency}}</h1>
        <h1 *ngIf="(getUsedPayMethods(true) - getTotals('price')) >=0">{{ "CHANGE" | translate}}:
          {{getUsedPayMethods(true) - getTotals('price') | currency: tillService.currency}}</h1>

        <h4 *ngIf="(getUsedPayMethods(true) - getTotals('price')) <0">{{ "PREPAYMENT" | translate}}: {{totalPrepayment()
          | currency: tillService.currency}} {{'FROM_TOTAL' | translate}} {{getTotals('price') | currency:
          tillService.currency}}</h4>
        <h4 *ngIf="(getUsedPayMethods(true) - getTotals('price')) ==0">{{ "PAYMENT" | translate}}: {{totalPrepayment() |
          currency: tillService.currency}}</h4>
        <h4 *ngIf="(getUsedPayMethods(true) - getTotals('price')) >0">{{ "PREPAYMENT" | translate}}: {{totalPrepayment()
          | currency: tillService.currency}}</h4>

        <div class="d-flex flex-wrap">
          <button class="btn btn-primary till-save-button flex-grow-1 me-2" (click)="createTransaction()"
            [disabled]="saveInProgress || 1 > transactionItems.length || !amountDefined">
            <span class="d-flex" *ngIf="saveInProgress">
              <fa-icon [icon]="faSpinner" class="fa-spin"></fa-icon>
            </span>
            <span *ngIf="!saveInProgress">
              {{ "C_CHECKOUT" | translate}}
            </span>
          </button>
          <button class="btn btn-primary" (click)="clearPaymentAmounts()" [disabled]="!amountDefined">
            <fa-icon [icon]="faRotateLeft" class="fa-spin"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="spinner-border mx-auto overlay" *ngIf="parkedTransactionLoading"></div>
</div>
