<ng-template #slider></ng-template>
<div class="container p-4">
  <!--begin::Main transaction list section-->
  <div class="my-4 px-7 py-7 card card-flush bg-white p-4">
    <!--begin::Advance form-->
    <div class="d-flex align-items-center my-3">
      <!--begin::Input group-->
      <div class="form-control form-control-solid d-flex align-items-center search_box w-25 bg-light">
        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
        <fa-icon [icon]="faSearch" class="px-2 text-muted"></fa-icon>
        <!--end::Svg Icon-->
        <input type="text" class="w-100 border-0 bg-transparent" (keyup.enter)="loadTransaction();"
          [(ngModel)]="requestParams.searchValue" name="search" value="" placeholder="{{'SEARCH' | translate}}" />
      </div>
      <!--end::Input group-->
      <!--begin:Action-->
      <div class="d-flex align-items-center">
        <button type="submit" class="btn btn-primary mx-3" (click)="loadTransaction();">{{ 'SEARCH' |
          translate
          }}
        </button>
        <div class="d-flex align-items-center">
          <button class="btn btn-secondary" (click)="resetFilters()">
            <i class='fas fa-sync-alt'></i>
          </button>
        </div>
        <div class="d-flex align-items-center ads_search">
          <button type="button" (click)="showAdvanceSearch = !showAdvanceSearch" class="btn btn-info">
            <i class="fa fa-filter"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="collapse row" id="kt_advanced_search_form" data-kt-search-minimize="on"
      [ngClass]="{'show' : showAdvanceSearch}">
      <div class="col-12">

        <div class="row g-4 mb-2">
          <div class="col-xxl-4">
            <div class="row g-8">
              <div class="col-lg-6">
                <label class="fs-6 form-label fw-bolder text-dark">{{ 'MIN_DATE' | translate }}</label>
                <input type="date" class="form-control form-control form-control-solid" name="startDate"
                  [ngModel]="filterDates.startDate | date:'yyyy-MM-dd'"
                  (ngModelChange)="filterDates.startDate = $event" />
              </div>
              <div class="col-lg-6">
                <label class="fs-6 form-label fw-bolder text-dark">{{ 'MAX_DATE' | translate }}</label>
                <input type="date" class="form-control form-control form-control-solid" name="endDate"
                  [ngModel]="filterDates.endDate | date:'yyyy-MM-dd'" (ngModelChange)="filterDates.endDate = $event" />
              </div>
            </div>
          </div>

          <div class="col-xxl-8">
            <div class="row g-2">
              <div class="col-lg-4">
                <label class="fs-6 form-label fw-bolder text-dark">{{ 'PAYMENT_METHOD' | translate }}</label>
                <ng-select class="form-control form-control-solid p-0" [(ngModel)]="requestParams.methods"
                  [clearable]="false" [multiple]="true">
                  <ng-option *ngFor="let method of paymentMethods" [value]="method.sName">{{method.sName}}</ng-option>
                </ng-select>
              </div>

              <div class="col-lg-4">
                <label class="fs-6 form-label fw-bolder text-dark">{{ 'TRANSACTION_ITEM_EKINDS' | translate }}</label>
                <ng-select class="form-control form-control-solid p-0" [(ngModel)]="requestParams.TIEKinds"
                  [clearable]="false" [multiple]="true">
                  <ng-option *ngFor="let type of TIEkinds" [value]="type">{{type}}</ng-option>
                </ng-select>
              </div>

              <div class="col-lg-4">
                <label class="fs-6 form-label fw-bolder text-dark">{{ 'IMPORT_STATUS' | translate }}</label>
                <div class="nav_group nav-group-fluid">
                  <label [ngClass]="requestParams.importStatus === 'all' ? 'active' : ''">
                    <input type="radio" class="btn-check" name="import" value="all"
                      [(ngModel)]="requestParams.importStatus" />
                    <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-4">{{ 'ALL' |
                      translate }}</span>
                  </label>
                  <label [ngClass]="requestParams.importStatus === 'imported' ? 'active' : ''">
                    <input type="radio" class="btn-check" name="import" value="imported"
                      [(ngModel)]="requestParams.importStatus" />
                    <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-4">{{ 'IMPORTED'
                      | translate }}</span>
                  </label>
                  <label [ngClass]="requestParams.importStatus === 'unimported' ? 'active' : ''">
                    <input type="radio" class="btn-check" name="import" value="unimported"
                      [(ngModel)]="requestParams.importStatus" />
                    <span
                      class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-4">{{'NOT_IMPORTED' |
                      translate }}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row g-4">

          <div class="col-xxl-12">
            <div class="row g-2">
              <div class="col-lg-3">
                <label class="fs-6 form-label fw-bolder text-dark">{{ 'EMPLOYEES' | translate }}</label>
                <ng-select class="form-control form-control-solid p-0" [clearable]="false" [(ngModel)]="employee">
                  <ng-option *ngFor="let employeeObj of employees" [value]="employeeObj">{{employeeObj.sFirstName}}
                    {{employeeObj.sLastName || ''}}</ng-option>
                </ng-select>
              </div>

              <div class="col-lg-3">
                <label class="fs-6 form-label fw-bolder text-dark">{{ 'WORKSTATION' | translate }}</label>
                <ng-select class="form-control form-control-solid p-0" [multiple]="true"
                  [(ngModel)]="requestParams.workstations" [clearable]="false">
                  <ng-option *ngFor="let workstation of workstations" [value]="workstation._id">{{workstation.sName}}
                  </ng-option>
                </ng-select>
              </div>

              <div class="col-lg-3">
                <label class="fs-6 form-label fw-bolder text-dark">{{ 'LOCATION' | translate }}</label>
                <ng-select class="form-control form-control-solid p-0" [multiple]="true"
                  [(ngModel)]="requestParams.locations" [clearable]="false">
                  <ng-option *ngFor="let location of locations" [value]="location._id">{{location.sName}}</ng-option>
                </ng-select>
              </div>
              <div class="col-lg-3" *ngIf="requestParams.methods.includes('bankpayment')">
                <label class="fs-6 form-label fw-bolder text-dark">{{ 'BANK_PAYMENT_STATUS' | translate }}</label>
                <div class="nav-group nav-group-fluid">
                  <label>
                    <input type="radio" class="btn-check" name="confirmed" value="all"
                      [(ngModel)]="requestParams.bankConfirmedStatus" checked="checked" />
                    <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-4">{{ 'ALL' |
                      translate }}</span>
                  </label>
                  <label>
                    <input type="radio" class="btn-check" name="confirmed" value="confirmed"
                      [(ngModel)]="requestParams.bankConfirmedStatus" />
                    <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-4">{{'CONFIRMED'
                      | translate }}</span>
                  </label>
                  <label>
                    <input type="radio" class="btn-check" name="confirmed" value="unconfirmed"
                      [(ngModel)]="requestParams.bankConfirmedStatus" />
                    <span
                      class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-4">{{'NOT_CONFIRMED'
                      |
                      translate }}</span>
                  </label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end::Advance form-->
    <!-- <div class="separator separator-dashed mt-9 mb-6"></div> -->
    <div class="table-responsive">
      <table class="table table-hover table-rounded table-striped gy-7 gs-7">
        <thead>
          <tr class="fw-bold fs-6 text-gray-400 text-uppercase border-gray-200">
            <th scope="col" *ngFor="let th of tableHeaders"
              [ngClass]="{'fw-bolder': th.selected, 'cursor-pointer': !th.disabled, 'pe-none': th.disabled}"
              (click)="setSortOption(th)">
              {{ th.key | translate }}
              <fa-icon *ngIf="th.selected" [icon]="th.sort === 'asc' ? faArrowDown : faArrowUp"></fa-icon>
            </th>
            <!-- <th scope="col"></th> -->
          </tr>
        </thead>
        <tbody class="fw-bold text-gray-600" *ngIf="!showLoader && businessDetailsLoaded">
          <tr *ngFor="let transaction of transactions | paginate: paginationConfig, let i = index"
            data-bs-toggle="tooltip" data-bs-placement="top" data-html="true" title={{toolTipData(transaction)}} style="height: 70px;
            line-height: 50px;vertical-align: center !important;">
            <td scope="row">{{transaction.dCreatedDate | date:'MMM dd, yyyy, HH:mm:ss'}}</td>

            <td class="text-truncate tab">{{transaction.sLocationName}}</td>
            <td>{{transaction.sNumber}}</td>
            <td>{{transaction.sReceiptNumber}} / {{transaction.sInvoiceNumber || '-'}}</td>
            <td class="text-truncate tab">
              <span *ngIf="!transaction?.oCustomer?.bIsCompany">{{transaction?.oCustomer?.sFirstName || ''}}
                {{transaction?.oCustomer?.sLastName || '-'}}</span>
              <span *ngIf="transaction?.oCustomer?.bIsCompany">{{transaction?.oCustomer?.sCompanyName}} </span>
            </td>
            <td>{{transaction.sMethods || '-'}}</td>
            <td> {{transaction.nTotal | currency:tillService.currency}} </td>
            <!-- <td>{{transaction.eType}}</td> -->
            <td>


              <div class="btn-group btn_group_container rounded" role="group"
                aria-label="Button group with nested dropdown">
                <button type="button" class="btn px-4 py-2" (click)="showTransaction(transaction)">{{ "VIEW" |
                  translate
                  }}</button>

                <div class="btn-group" role="group">
                  <button type="button" class="btn px-3 py-2 dropdown_toggle_btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path
                        d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
                        fill="black"></path>
                    </svg>
                  </button>
                  <ul class="dropdown_menu">
                    <li *ngFor="let tMenu of transactionMenu">

                      <div class="dropdown_item"
                        *ngIf="tMenu.key == 'MARK_CONFIRMED' && transaction?.paymentType == 'bankpayment'">
                        <div class="menu-link px-3" [ngClass]="{'show':transaction.bConfirmed}"
                          (click)="clickMenuOpt(tMenu.key, transaction)">{{ tMenu.key |
                          translate}}</div>
                      </div>
                      <div class="dropdown_item" *ngIf="tMenu.key != 'MARK_CONFIRMED'">
                        <div class="menu-link px-3" (click)="clickMenuOpt(tMenu.key, transaction)">{{ tMenu.key |
                          translate}}</div>
                      </div>

                    </li>
                  </ul>
                </div>
              </div>

              <div class="btn-group me-4 position-relative" *ngIf="false">
                <!--begin::Submit-->
                <span class="btn btn-secondary fs-bold px-6" (click)="showTransaction(transaction)">
                  <span class="indicator-label">{{ "VIEW" | translate }}</span>
                </span>
                <!--end::Submit-->
                <!--begin::Send options-->
                <span class="btn btn-secondary btn-icon fs-bold" role="button">
                  <div class="btn btn-icon" data-kt-menu-trigger="hover" data-kt-menu-attach="parent"
                    data-kt-menu-placement="bottom-end" data-kt-menu-flip="bottom">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                    <span class="svg-icon svg-icon-2 m-0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path
                          d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
                          fill="black"></path>
                      </svg>
                    </span>
                    <!--end::Svg Icon-->
                  </div>
                  <!--begin::Menu-->
                  <div
                    class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-200px py-4"
                    data-kt-menu="true">
                    <!--begin::Menu item-->
                    <div class="menu-item px-3 text-center" *ngFor="let tMenu of transactionMenu">
                      <div *ngIf="tMenu.key == 'MARK_CONFIRMED' && transaction?.paymentType == 'bankpayment'">
                        <div class="menu-link px-3" [ngClass]="{'show':transaction.bConfirmed}"
                          (click)="clickMenuOpt(tMenu.key, transaction)">{{ tMenu.key |
                          translate}}</div>
                      </div>
                      <div *ngIf="tMenu.key != 'MARK_CONFIRMED'">
                        <div class="menu-link px-3" (click)="clickMenuOpt(tMenu.key, transaction)">{{ tMenu.key |
                          translate}}</div>
                      </div>
                    </div>
                    <!--end::Menu item-->
                  </div>
                  <!--end::Menu-->
                </span>
                <!--end::Send options-->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center w-100 py-4">
      <div class="d-grid justify-content-center text-align-center" *ngIf='!transactions.length && !showLoader'>
        <div *ngIf="showLoader || !businessDetailsLoaded" class="spinner-border mx-auto"></div>
        <h5 class="my-4">{{ 'NO_DATA_FOUND' | translate }}</h5>
      </div>
    </div>

    <div class="row" *ngIf='transactions?.length'>
      <div class="col-sm-12 col-md-3 d-flex align-items-center justify-content-center justify-content-md-start">
        <div class="dataTables_length" id="kt_ecommerce_sales_table_length">
          <label>
            <select name="kt_ecommerce_sales_table_length" aria-controls="kt_ecommerce_sales_table"
              class="form-select form-select-sm form-select-solid" [(ngModel)]="paginationConfig.itemsPerPage"
              (change)="changeItemsPerPage()">
              <option *ngFor="let pageNum of pageCounts" [value]="pageNum">{{ pageNum }}</option>
            </select>
          </label>
        </div>
        <span *ngIf='!transactions.length && !showLoader' style="text-align: center;">.</span>
      </div>
      <div class="col-sm-12 col-md-9 d-flex align-items-center justify-content-center justify-content-md-end">
        <pagination-controls [hidden]="transactions.length === 0" (pageChange)="pageChanged($event)"
          (pageBoundsCorrection)="pageChanged($event)" [maxSize]="setPaginateSize"
          [previousLabel]="'PREVIOUS' | translate" [nextLabel]="'NEXT' | translate"
          screenReaderPaginationLabel="Pagination" [screenReaderPageLabel]="'PAGE' | translate">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
