<div class="row mb-4 col-md-3">
    <button class="btn btn-sm btn-primary" (click)="addEditCoupon()">
        <fa-icon [icon]="faPlus"></fa-icon> &nbsp; {{ "ADD_NEW_COUPON" | translate }}
    </button>
</div>
<div class="row mt-2">
    <table>
        <thead>
            <tr>
                <th>{{"COUPON_TYPE" | translate }}</th>
                <th>{{"COUPON_AMOUNT" | translate }}</th>
                <th>{{"USAGE_LIMIT" | translate }}</th>
                <th>{{"EXPIRT_DATE" | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
