<div class="container p-4">
  <div class="card py-2 mb-5">
    <div class="card-body px-5">
      <div class="card-title fw-bold row">
        <div class="col-md-8">
          <span class="fw-bold">
            <h3>{{ 'WORKSTATIONS' | translate}}</h3>
          </span>
        </div>
        <div class="col-md-3">
          <button class="btn btn-light-primary float-end" (click)="setOrder($event)">{{ 'SAVE_SEQUENCE' |
            translate}}</button>
        </div>
        <div class="col-md-1">
          <button class="btn btn-primary float-end" (click)="editWorkstation()">{{ 'NEW' | translate}}</button>
        </div>
      </div>
      <div class="">
        <div *ngIf="workstationLoading" class="spinner-border mx-auto"></div>
        <h5 *ngIf='!workstations.length && !workstationLoading'>{{ 'NO_DATA_FOUND' | translate}}</h5>
        <ul *ngIf="workstations.length && !workstationLoading" class="list-group">
          <li class="list-group-item" *ngFor="let workstation of workstations; let i = index">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <span class="d-flex justify-content-start align-items-center my-3">
                  <h4 class="text-gray-800 fw-bold fs-6 lh-1 text-center mb-0">{{workstation.sName}}</h4>
                  <span class="text-gray-600 mx-3"> ({{workstation.sDescription}})</span>
                </span>
              </div>
              <div>
                <button class="btn p-3 hover" (click)="shiftWorkstation('up', i)">
                  <i class="fa fa-arrow-up"></i>
                </button>
                <button class="btn p-3 hover" (click)="shiftWorkstation('down', i)">
                  <i class="fa fa-arrow-down"></i>
                </button>
                <button class="btn p-3 hover" (click)="editWorkstation(workstation)">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="btn p-3 hover" (click)="deleteWorkstation(workstation)">
                  <i class="fa fa-trash" style="color:#a63b55"></i>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
